.app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  gap: 8px;
  display: grid;
  place-items: center;
  grid-template-rows: 40px 1fr;
  padding: 16px;
  background: var(--app-background, #2c2124);
  background-size: var(--app-background-size, auto);
  background-position: var(--app-background-position, auto);
  background-repeat: no-repeat;
}
